body {
}

.answerContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .answerContainer input {
        position: absolute;
        opacity: 0;
    }

        .answerContainer input:checked ~ .checkmark {
            background-color: #42A948;
        }

            .answerContainer input:checked ~ .checkmark:after {
                display: block;
            }

    .answerContainer:hover input ~ .checkmark {
        background-color: #ccc;
    }

    .answerContainer .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }



.question {
    font-weight: 600;
    font-size: x-large;
}

.answersContainer {
    margin-bottom: 80px;
}

.answers {
    margin-bottom: 20px;
}

    .answers label {
        display: block;
        font-size: large;
    }
